@font-face{
    font-family:Work Sans;
    src: url('../font/WorkSans-Light.ttf');
}
$red: rgb(211,0,42);
$black: rgb(36,36,36);
$white: rgb(218,218,218);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans';
    scroll-behavior: smooth;
}
a{
    &:hover{
        text-decoration: none;
    }
}
#modal{
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    opacity: 0;
    background-color: rgba(36,36,36, 0.7);
    .row{
        position: relative;
        width: 80%;
        top: -100%;
        opacity: 0;
        background-color: rgb(122,122,122);
        #header{
            background-color: rgb(22, 22, 22);
        }
        #body{
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            background-color: rgb(185, 185, 185);
            color: rgb(42, 42, 42);
            span{
                color: rgb(7, 7, 7);
            }
            .modalTotal{
                font-size: 30px;   
            }
        }
        #footer{
            padding: 10px;
            button{
                padding: 5px 10px;
                font-size: 20px;
                font-weight: bold;
                border: none;
                outline: none;
            }
        }
    }
}
#seeMoreModal{
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    opacity: 0;
    background-color: rgba(36, 36, 36, 0.7);
    .relative{
        position: relative;
        width: 500px;
        top: 0%;
        background-color: rgb(122,122,122);
        box-shadow: 0px 10px 50px $black;
        #header1{
            background-color: rgb(22, 22, 22);
            button{
                outline: none;
                border: none;
                background-color: transparent;
                i{
                    font-size: 35px;
                    color:$red;
                }
            }
        }
        #body1{
            h3{
                font-weight: bold;    
            }
            background-color: $white;
            #levo{
                position: absolute;
                top: 170px;
                left: 10px;
                font-size: 20px;
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 50%;
                outline: none;
                background-color: $white;
                color: rgb(51, 51, 51);
                z-index: 999;
            }
            #desno{
                position: absolute;
                top: 170px;
                right: 10px;
                font-size: 20px;
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 50%;
                outline: none;
                background-color: $white;
                color: rgb(51, 51, 51);
                z-index: 999;
            }
            ul{
                list-style: none;
                li{
                    font-size: 15px;
                }
            }
            .euro{
                font-size: 50px;
                i{
                    font-size: 25px;
                }
                span{
                    font-size: 20px;
                }
            }
        }
        #footer1{
            padding: 10px;
            background-color:$black;
            button{
                padding: 5px 10px;
                font-size: 20px;
                font-weight: bold;
                border: none;
                outline: none;
            }
        }
    }
}
h2{
    font-weight: bold;
    color: rgb(222, 222, 222);
    margin-bottom: 0px;
    span{
        color:$red;
    }
}
#canvas{
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid$red;
    #btnTop{
        z-index: 9999999;
        visibility: hidden;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid$red;
        font-size: 30px;
        outline: none;
        cursor: pointer;
        background-color:$black;
        color: rgb(122, 122, 122);
        transition: 0.5s;
        &:hover{
            background-color: rgb(0, 0, 0);
            transform: scale(1.1);
            transition: 0.5s;
            bottom: 40px;
        }
    }
    #navigacija{
        ul{
            list-style-type: none;
            li{
                padding: 5px;
                margin-right: 10px;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                a{
                    color:$black;
                    &:hover{
                        color:$red;
                        border-bottom: 3px solid$red;
                    }
                }
            }
        }
    }
    .canvasTekst{
        color:$red;
        font-size: 70px;
        font-style: italic;
        position: relative;
        right: -100%;
        text-align: right;
        span{
            color:$black;
        }
    }
    #clickSide{
        padding: 10px;
        background-color:transparent;
        color:rgb(211, 0, 42);
        border: none;
        outline: none;
        i{
            font-size: 30px;
            &:hover{
                color:rgb(24, 24, 24);
            }
        }
    }
    #openSide{
        height: 100%; 
        width: 0; 
        position: fixed; 
        z-index: 999; 
        top: 0; 
        left: 0;
        background-color: #111; 
        overflow-x: hidden; 
        transition: 0.5s;
        button{
            border: none;
            outline: none;
            margin-right: 30px;
            margin-top: 20px;
            background-color: transparent;
            i{
                font-size: 40px;
                color: rgb(65, 65, 65);
                &:hover{
                    color:$red;
                }
            }
        }
        nav{
            ul{
                margin-top: 100px;
                .slideIn{
                    position: relative;
                        left: -250px;
                        opacity: 0;
                    a{
                        padding: 8px 8px 8px 32px;
                        text-decoration: none;
                        font-size: 25px;
                        color: #818181;
                        display: block;
                        transition: 0.3s;
                        &:hover{
                            color:$red;
                        }
                    }
                }
            }
        }
    }
    height:850px;
    position: relative;
    background-image: url('../../img/muscle_chevy1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .fab{
        color: black;
        font-size: 20px;
    }
    .tekstBoja{
        color: black;
    }
    .logo{
        height:80px;
        a{
            height: 80px;
            .leviTekst{
                color:$red !important;
                vertical-align: middle;
            }
            img{
                display: inline;
                height: 100%;
                vertical-align: middle;
            }
            .logo-text{
                font-size: 60px;
                font-weight: bold;
                color: black;
                vertical-align: middle;
            }
        }
    }
}
.naslovContent{
    .naslov{
        h1{
            span{
            color:$red;
            font-weight: bold;
        }
    }
        span{
            .fas{
                font-size: 35px;
                color:$red;
            }
        }
    }
    .sectionContent{
        position: relative;
        z-index: 99;
        top: -250px;
        opacity: 0;
        color:$black;
        i{
            font-size: 60px;
            padding: 15px;
        }
        h5{
            font-size: 25px;
            font-weight: bold;
            color: rgb(126, 126, 126);
        }
        p{
            font-size: 17px;
            font-weight: bold;
            padding-bottom: 15px;
        }
    }
}

.secondRow-cars{
    border-top: 5px solid$red;
    border-bottom: 5px solid$red;
    .upcoming{
        .featured{
            position: relative;
            left: -500px;
            font-size: 35px;
            .w{
                font-size: 50px;
            }
            .t{
                font-size: 28px;
            }
        }
    }
    #automobili{
        .slideContent{
            h5{
                font-weight: bold;
                padding: 10px;
                font-size: 20px;
            }
            p{
                padding-top: 20px;
                padding-left: 10px;
                font-weight: bold;
                font-size: 20px;
                i{
                    font-size: 25px;
                }
                .reqBtn{
                    margin-right: 5px;
                    padding: 10px 15px;
                    font-size: 17px;
                    background-color:$red;
                    color: rgb(24, 24, 24);
                }
            }
        }
        .owl-dots{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .owl-dot{
                width: 20px;
                margin: 10px;
                height: 20px;
                border-radius: 50%;
                background-color: rgb(122, 122, 122);
                &:focus{
                    outline: none;
                }
            }
            .active{
                background-color: rgb(24, 24, 24);
            }
        }
    }
    #grupaDugmad{
        button{
            width: 50px;
            height: 50px;
            background-color: rgb(65, 65, 65);
            border: none;
            font-size: 30px;
            transition: 0.5s;
            &:focus{
                outline: none;
                background-color:$red;
            }
        }
    }
}
#request{
    background-color:$black;
    color: rgb(122, 122, 122);
    border-bottom: 5px solid rgb(122, 122, 122);
    p{
        font-weight: bold;
        font-size: 18px;
    }
    a{
        padding: 10px 20px;
        background-color: rgb(122, 122, 122);
        color:$black;
        font-weight: bold;
        font-size: 19px;
        transition: 0.5s;
        &:hover{
            background-color:$red;
            color:$black;
        }
    }
}
#featuredSection{
    background-color: rgb(244,244,244);
    h4{
        font-size: 40px;
        span{
            color:$red;
        }
    }
    #showCars{
        .scale{
            
            &:hover{
                .imgHolder{
                    overflow: hidden;
                    img{
                        transform: scale(1.1);
                        transition: 0.5s ease;
                    }
                }
            }
            .imgHolder{
                overflow: hidden;
                img{
                    transition: 0.5s ease;
                }
            }
        }
        .slide{
            position: relative;
            top: -250px;
            opacity: 0;
        }
        .holder{
            border-bottom: 5px solid$red;
            padding: 10px;
            background-color: rgba(218,218,218,0.5);
            h5{
                color: rgb(24, 24, 24);
                font-weight: bold;
                display: block;
            }
            p{
                font-weight: bold;
            }
            button{
                display: block;
                width: 100%;
                border: none;
                outline: none;
                padding: 10px 15px;
                background-color: rgb(24, 24, 24);
                color: rgb(151, 151, 151);
                font-weight: bold;
                transition: 1s;
                background-size: 0% 200%;
                transition: background-color 1.5s;
                &:hover{
                    background-color:rgb(211, 0, 42);
                    background-image:linear-gradient(to right,$red 100%, rgb(255, 255, 255) 100%);
                    background-repeat:no-repeat;
                    background-size: 200% 100%; 
                    transition:background-size 1.5s, background-color 1.5s;
                }
            }
        }
    }
    #loadMore{
        background-color: rgb(167, 167, 167);
        color: rgb(24, 24, 24);
        font-weight: bold;
        font-size: 20px;
        padding: 15px 20px;
        margin-bottom: 50px;
        transition: 0.5s;
        outline: none;
        border: none;
        &:hover{
            background-color: rgb(65, 65, 65);
        }
    }
    .vis{
        height: 1000px;
    }
}
#TestimonialsSection{
    background-color: rgb(244, 244, 244);
    h6{
        font-size: 25px;
        font-weight: bold;
    }
    p{
        font-weight: bold;
    }
    #testimonials{
        .testContent{
            border-radius: 5px;
            background-color: rgba(200, 200, 200,0.3);
            transition: 0.5s;
            min-height: 350px;
            i{
                font-size: 50px;
            }
            .testImage{
                width: 70px;
                height: 70px;
                img{
                    width: 100%;
                    height: 100%;
                    clip-path: circle(50%);
                }
            }
            .fa-star{
                font-size: 16px;
                color: $black;
            }
            .blockquote{
                p{
                    font-size: 16px;
                }
            }
            &:hover{
                box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 30.8px 33.4px rgba(0, 0, 0, 0.086),
                0 50px 80px rgba(0, 0, 0, 0.12);
            }
        }
    }
}
.naslovBorder{
    width: 9%;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color:$red;
}
.back{
    background-color: rgb(244,244,244);
    #formNaslov{
        font-size: 25px;
        font-weight: bold;
        #fillForm{
            font-size: 16px;
        }
    }
    .formSlide{
        background-color:$black;
        width: 450px;
        height: 720px;
        box-shadow: 0px 0px 15px $black;
        #absolute{
            position: relative;
            height: 100%;
            .slideShow{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }//animacija za js crossfade sliding
            .fadeIn{
                animation-name: fadeIn;
                animation-duration: 15s;
            }
            .fadeOut{
                animation-name: fadeOut;
                animation-duration: 15s;
            }
            @keyframes fadeIn {
                0%{opacity: 0;}
                25%{opacity: 0;}
                75%{opacity: 1;}
                100%{opacity: 1;}
            }
            @keyframes fadeOut {
                0%{opacity: 1;}
                25%{opacity: 1;}
                75%{opacity: 0;}
                100%{opacity: 0;}
            }
        }
    }
    .requestForm{
        height: 720px;
        width: 450px;
        box-shadow: 0px 0px 15px $black;
        input{
            padding: 7px 14px;
            background-color: rgb(65, 65, 65);
            color: $white;
            border: none;
            outline: none;
            font-weight: bold;
            font-size: 14px;
        }
        .date{
            label{
                font-size: 15px;
            }
            input[type= date]{
                width: 150px;
                padding: 5px;
                margin: 0px left;
            }
        }
        .custom-control-input{
            &:checked~{
                .custom-control-label{
                    &::before{
                        background-color:$red;
                        border-color: rgb(65, 65, 65);
                        box-shadow: none;
                        border:none;
                        &:focus{
                            background-color:transparent;
                        }
                    }
                    &::after{
                        background-image: none;
                        border-radius: none;
                    }
                }
            }
        }
        .custom-control-label{
            &::before{
                background-color: rgb(65, 65, 65);
                border:none;
                border-radius: none;
            }
        }
        background-color: rgb(24, 24, 24);
        color: $white;
        font-weight: bold;
        .ddlCar{
            #carType, #carModel{
                font-size: 17px;
                padding: 5px;
                font-weight: bold;
                width: 100%;
                border: none ;
                border-radius: 0px;
                &:focus{
                    box-shadow: none;
                }
            }
        }
        .greska{
                border: 2px solid$red;
        }
        .greskaTekst{
            color:$red;
            font-weight: bold;
        }
        .correct{
            border: 2px solid rgb(10, 160, 30);
        }
        .submitButton{
            input[type=submit]{
                border: none;
                outline: none;
                padding: 10px;
                font-weight: bold;
                font-size: 20px;
                background-color:rgb(211, 0, 42);
                color: #fff;
                width: 100%;
            }
        }
        #secured{
            font-size: 12px;
            color: rgb(129, 129, 129);
            span{
                color:$red;
            }
        }
    }
}
#map
{
    height: 500px;
}
#pageFooter{
    background-color: rgb(24, 24, 24);
    h2{
        font-size: 35px;
    }
    .borderFooterLink{
        display: inline-block;
        background-color:$red;
        width: 100px;
        height: 2px;
    }
    ul{
        list-style: none;
        li{
            padding: 5px;
            a{
                color: $white;
                font-weight: bold;
                transition: 0.5s;
                i{
                    font-size: 20px;
                }
                .fa-facebook{
                    color: rgb(66, 103, 178);
                }
                .fa-twitter{
                    color: rgb(29, 161, 242);
                }
                .fa-linkedin{
                    color: rgb(40,103,178);
                }
                &:hover{
                    color:$red;
                    transition: 0.5s;
                }
            }
        }
    }
    .hours{
        color: rgb(110, 110, 110);
        font-weight: bold;
        span{
            
            color: $white;
        }
    }
    h5{
        color: $white;
        font-weight: bold;
        font-size: 30px;
    }
    p{
        font-size: 17px;
        color: $white;
        font-weight: bold;
    }
}
#autor{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999;
    background-color: rgba($color: #000000, $alpha: 0.5);
    .postavi{
        height: 100%;
        #box{
            box-shadow: 0px 0px 70px $black;
            #infoAutor{
                background-color:$white;
                color: $black;
                span{
                    color: $red;
                }
                .linkovi{
                    p{
                        color: $black;
                        font-weight: bold;
                    }
                    .linkBtn{
                        margin-left: 15px;
                        border: none;
                        outline: none;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: $black;
                        color: $white;
                        transition: 0.5s;
                        i{
                            font-size: 25px;
                        }
                        &:hover{
                            transition: 0.5s;
                            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.05),
                                        0 6.7px 5.3px rgba(0, 0, 0, 0.1),
                                        0 12.5px 10px rgba(0, 0, 0, 0.2),
                                        0 22.3px 17.9px rgba(0, 0, 0, 0.3),
                                        0 30.8px 33.4px rgba(0, 0, 0, 0.4),
                                        0 50px 80px rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
            #closeAutor{
                border:none;
                outline: none;
                width: 30px;
                height: 30px;
                background-color: transparent;
                i{
                    color: $black;
                    font-size: 25px;
                    transition: 0.5s;
                    &:hover{
                        color: $red;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

//responsive
@media screen and (max-width: 1500px){
    #canvas{
        .logo{
            height: 60px;
            a{
                height: 60px;
                .logo-text{
                    font-size: 30px;
                } 
            }
        }
        .searchForm{
            width: 40%;
        }
    }
}

@media screen and (max-width: 1016px) {
    .back{
        .formSlide{

            #absolute{
                .slideShow{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .requestForm{

            .ddlCar{
                #carType, #carModel{
                    font-size: 17px;
                    padding: 5px 17px;
                }
            }
            .submitButton{
                button{
                    font-size: 17px;
                }
            }
        }
    }

}

@media screen and (max-width: 992px){
    #canvas{
        .logo{
            height: 50px;
            a{
                height: 50px;
                .logo-text{
                    font-size: 25px;
                } 
            }
        }
        #navigacija{
            nav{
                ul{
                    li{
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    #modal{
        .row{
            width: 90%;
            font-size: 15px;
        }
    }
    #canvas{
        height: 700px;
        .searchForm{
            width: 60%;
        }
    }
    .back{
        .formSlide{

            #absolute{
                .slideShow{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .requestForm{

            font-size: 15px;
            input{
                padding: 5px 12px;
            }
            .w-50{
                input{
                    width: 70% !important;
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    #modal{
        #body{
            p{
                font-size: 15px;
            }
        }
    }
    #seeMoreModal{
        .relative{
            width: 90%;
            #body1{
                h3{
                    font-size: 21px;
                }
                #levo{
                    top: 80px;
                }
                #desno{
                    top: 80px;
                }
                .euro{
                    font-size: 30px;
                }
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
        }
    }
        #canvas{
            .border-bottom{
                font-size: 13px;
            }
            .canvasTekst{
                    font-size: 50px;
                    text-align: center;
            }
        }
        .back{
            width: 100%;
            .formSlide{
                max-height: 577px;
                #absolute{
                    min-height: auto;
                }
            }
            .requestForm{
                max-width: 450px;
                height: auto;
                font-size: 17px;
                input{
                    padding: 15px 10px;
                }
                .greskaTekst{
                    i{
                        font-size: 20px;
                        margin-top: 8px;
                    }
                }
            }
        }
        #autor{
            .postavi{
                #box{
                    max-width: 90%;
                    margin: 0px auto;
                    #infoAutor{
                        .linkovi{
                            .linkBtn{
                                width: 45px;
                                height: 45px;
                                margin-left: 3px;
                            }
                        }
                        font-size: 14px;
                        text-align: center;
                        h3{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
}
@media screen and(max-width: 350px){
    #canvas{
        .searchForm{
            .search{
                h4{
                    font-size: 20px;
                }
            }
        }
    }
    #seeMoreModal{
        .relative{
            width: 90%;
        }
    }
    .back{
        .requestForm{
            .greskaTekst{
                font-size: 15px;
                i{
                    font-size: 18px;
                    padding-top: 5px;
                }
            }
        }
    }
}