@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
a{
    &:hover{
        text-decoration: none;
    }
}
#modal{
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background-color: rgba(36,36,36, 0.7);
    .row{
        width: 80%;
        background-color: rgb(122,122,122);
        #header{
            background-color: rgb(22, 22, 22);
            h2{
                font-weight: bold;
                color: rgb(222, 222, 222);
                margin-bottom: 0px;
                span{
                    color: rgb(211, 0, 42);
                }
            }
        }
        #body{
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            background-color: rgb(185, 185, 185);
            color: rgb(42, 42, 42);
            span{
                color: rgb(7, 7, 7);
            }
        }
        #footer{
            padding: 10px;
            button{
                padding: 5px 10px;
                font-size: 20px;
                font-weight: bold;
                border: none;
                outline: none;
            }
        }
    }
}
#canvas{
    position: relative;
    border-bottom: 5px solid rgb(211, 0, 42);
    #btnTop{
        z-index: 99;
        visibility: hidden;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 30px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: rgb(36, 36, 36);
        color: rgb(122, 122, 122);
        &:hover{
            background-color: rgb(0, 0, 0);
        }
    }
    #navigacija{
        ul{
            list-style-type: none;
            li{
                padding: 5px;
                margin-right: 10px;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                a{
                    color: rgb(36, 36, 36);
                    &:hover{
                        color: rgb(211, 0, 42);
                        border-bottom: 3px solid rgb(211, 0, 42);
                    }
                }
            }
        }
    }
    #clickSide{
        padding: 10px;
        background-color:transparent;
        color:rgb(211, 0, 42);
        border: none;
        outline: none;
        i{
            font-size: 30px;
            &:hover{
                color:rgb(24, 24, 24);
            }
        }
    }
    #openSide{
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 999; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */ /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        button{
            border: none;
            outline: none;
            margin-right: 30px;
            margin-top: 20px;
            background-color: transparent;
            i{
                font-size: 40px;
                color: rgb(65, 65, 65);
                &:hover{
                    color: rgb(211, 0, 42);
                }
            }
        }
        nav{
            ul{
                margin-top: 100px;
                li{
                    a{
                        padding: 8px 8px 8px 32px;
                        text-decoration: none;
                        font-size: 25px;
                        color: #818181;
                        display: block;
                        transition: 0.3s;
                        &:hover{
                            color: rgb(211, 0, 42);
                        }
                    }
                }
            }
        }
    }
    height:850px;
    position: relative;
    background-image: url('../../img/muscle_chevy1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .fab{
        color: black;
        font-size: 20px;
    }
    .tekstBoja{
        color: black;
    }
    .logo{
        height:80px;
        a{
            height: 80px;
            .leviTekst{
                color: rgb(211, 0, 42) !important;
                vertical-align: middle;
            }
            img{
                display: inline;
                height: 100%;
                vertical-align: middle;
            }
            .logo-text{
                font-size: 60px;
                font-weight: bold;
                color: black;
                vertical-align: middle;
            }
        }
    }
}
.naslovContent{
    .naslov{
        h1{
            span{
            color: rgb(211, 0, 42);
            font-weight: bold;
        }
    }
        span{
            .fas{
                font-size: 35px;
                color: rgb(211, 0, 42);
            }
        }
    }
    .sectionContent{
        position: relative;
        z-index: 999999;
        top: -250px;
        opacity: 0;
        background-color: rgb(36, 36, 36);
        color:rgb(122, 122, 122);
        border-bottom: 5px solid rgb(211, 0, 42);
        i{
            font-size: 60px;
            padding: 15px;
        }
        h5{
            font-size: 25px;
            font-weight: bold;
        }
        p{
            font-size: 17px;
            font-weight: bold;
            padding-bottom: 15px;
        }
        &:hover{
            i{
                color: rgb(211, 0, 42);
            }
        }
    }
}

.secondRow-cars{
    border-top: 5px solid rgb(211, 0, 42);
    border-bottom: 5px solid rgb(211, 0, 42);
    .upcoming{
        .featured{
            position: relative;
        left: -500px;
            font-size: 35px;
            .w{
                font-size: 50px;
            }
            .t{
                font-size: 28px;
            }
        }
    }
    #automobili{
        .slideContent{
            h5{
                font-weight: bold;
                padding: 10px;
                font-size: 20px;
            }
            p{
                padding-top: 20px;
                padding-left: 10px;
                font-weight: bold;
                font-size: 20px;
                i{
                    font-size: 25px;
                }
                .reqBtn{
                    margin-right: 5px;
                    padding: 10px 15px;
                    font-size: 17px;
                    background-color: rgb(211, 0, 42);
                    color: rgb(24, 24, 24);
                }
            }
        }
        .owl-dots{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .owl-dot{
                width: 20px;
                margin: 10px;
                height: 20px;
                border-radius: 50%;
                background-color: rgb(122, 122, 122);
                &:focus{
                    outline: none;
                }
            }
            .active{
                background-color: rgb(24, 24, 24);
            }
        }
    }
    #grupaDugmad{
        button{
            width: 50px;
            height: 50px;
            background-color: rgb(65, 65, 65);
            border: none;
            font-size: 30px;
            &:focus{
                outline: none;
            }
        }
    }
}
#request{
    background-color: rgb(36, 36, 36);
    color: rgb(122, 122, 122);
    border-bottom: 5px solid rgb(122, 122, 122);
    p{
        font-weight: bold;
        font-size: 18px;
    }
    a{
        padding: 10px 20px;
        background-color: rgb(122, 122, 122);
        color: rgb(36, 36, 36);
        font-weight: bold;
        font-size: 19px;
        &:hover{
            background-color: rgb(211, 0, 42);
            color:rgb(65, 65, 65);
        }
    }
}
#featuredSection{
    background-color: rgba(244,244,244,1);
    h4{
        font-size: 50px;
        span{
            color: rgb(211, 0, 42);
        }
    }
    #showCars{
        .scale{
            &:hover{
                .imgHolder{
                    overflow: hidden;
                    img{
                        transform: scale(1.1);
                        transition: 0.5s ease;
                    }
                }
            }
            .imgHolder{
                overflow: hidden;
                img{
                    transition: 0.5s ease;
                }
            }
        }
        .slide{
            position: relative;
            top: -250px;
            opacity: 0;
        }
        .holder{
            background-color:rgb(218, 218, 218);
            border-bottom: 5px solid rgb(211, 0, 42);
            padding: 10px;
            h5{
                color: rgb(24, 24, 24);
                font-weight: bold;
                display: block;
            }
            p{
                font-weight: bold;
            }
            a{
                display: block;
                padding: 10px 15px;
                background-color: rgb(24, 24, 24);
                color: rgb(151, 151, 151);
                font-weight: bold;
                transition: 1s;
                background-size: 0% 200%;
                transition: background-color 1.5s;
                &:hover{
                    background-color:rgb(211, 0, 42);
                    background-image:linear-gradient(to right, rgb(211,0,42) 100%, rgb(255, 255, 255) 100%);
                    background-repeat:no-repeat;
                    background-size: 200% 100%; 
                    transition:background-size 1.5s, background-color 1.5s;
                }
            }
        }
    }
    #loadMore{
        background-color: rgb(167, 167, 167);
        color: rgb(24, 24, 24);
        font-weight: bold;
        font-size: 20px;
        padding: 15px 20px;
        margin-bottom: 50px;
        &:hover{
            background-color: rgb(65, 65, 65);
        }
    }
    .vis{
        height: 1000px;
    }
}
.back{
    border-top: 5px solid rgb(211, 0, 42);
    background-color:rgb(36, 36, 36);
    .formSlide{
        width: 450px;
        height: 650px;
        #absolute{
            position: relative;
            height: 100%;
            .slideShow{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 650px;
            }//animacija za js crossfade sliding
            .fadeIn{
                animation-name: fadeIn;
                animation-duration: 15s;
            }
            .fadeOut{
                animation-name: fadeOut;
                animation-duration: 15s;
            }
            @keyframes fadeIn {
                0%{opacity: 0;}
                25%{opacity: 0;}
                75%{opacity: 1;}
                100%{opacity: 1;}
            }
            @keyframes fadeOut {
                0%{opacity: 1;}
                25%{opacity: 1;}
                75%{opacity: 0;}
                100%{opacity: 0;}
            }
        }
    }
    .requestForm{
        height: 650px;
        width: 450px;
        input{
            padding: 15px;
            background-color: rgb(65, 65, 65);
            color: rgb(218, 218, 218);
            border: none;
            outline: none;
            font-weight: bold;
            font-size: 17px;
        }
        .custom-control-input{
            &:checked~{
                .custom-control-label{
                    &::before{
                        background-color: rgb(211, 0, 42);
                        border-color: rgb(65, 65, 65);
                        box-shadow: none;
                        border:none;
                        &:focus{
                            background-color:transparent;
                        }
                    }
                    &::after{
                        background-image: none;
                        border-radius: none;
                    }
                }
            }
        }
        .custom-control-label{
            &::before{
                background-color: rgb(65, 65, 65);
                border:none;
                border-radius: none;
            }
        }
        background-color: rgb(24, 24, 24);
        color: rgb(218, 218, 218);
        font-weight: bold;
        .ddlCar{
            #carType, #carModel{
                font-size: 20px;
                padding: 5px 20px;
                font-weight: bold;
                width: 100%;
                border: none ;
                border-radius: 0px;
                &:focus{
                    box-shadow: none;
                }
            }
        }
        .greska{
                border: 2px solid rgb(211, 0, 42);
        }
        .greskaTekst{
            color: rgb(211, 0, 42);
            font-weight: bold;
        }
        .correct{
            border: 2px solid rgb(10, 160, 30);
        }
        .submitButton{
            button{
                border: none;
                outline: none;
                padding: 10px 30px;
                font-weight: bold;
                font-size: 20px;
                background-color:rgb(211, 0, 42);
                color: #fff;
                width: 100%;
            }
        }
    }
}


//responsive
@media screen and (max-width: 1500px){
    #canvas{
        .logo{
            height: 60px;
            a{
                height: 60px;
                .logo-text{
                    font-size: 30px;
                } 
            }
        }
        .searchForm{
            width: 40%;
        }
    }
}

@media screen and (max-width: 1016px) {
    .back{
        .formSlide{
            width: 350px;
            height: 550px;
            #absolute{
                .slideShow{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .requestForm{
            width: 350px;
            height: 550px;
            input{
                padding: 10px;
                font-size: 17px;
            }
            .ddlCar{
                #carType, #carModel{
                    font-size: 17px;
                    padding: 5px 17px;
                }
            }
            .submitButton{
                button{
                    padding: 5px 20px;
                    font-size: 17px;
                }
            }
        }
    }

}

@media screen and (max-width: 992px){
    #canvas{
        .logo{
            height: 50px;
            a{
                height: 50px;
                .logo-text{
                    font-size: 25px;
                } 
            }
        }
        #navigacija{
            nav{
                ul{
                    li{
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    #modal{
        .row{
            width: 90%;
            font-size: 15px;
        }
    }
    #canvas{
        height: 700px;
        .searchForm{
            width: 60%;
        }
    }
    .back{
        .formSlide{
            width: 50%;
            #absolute{
                .slideShow{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .requestForm{
            width: 50%;
        }
    }

}
@media screen and (max-width: 576px){
    #modal{
        #body{
            p{
                font-size: 15px;
            }
        }
    }
        #canvas{
            .border-bottom{
                font-size: 13px;
            }
        }
        .back{
            width: 100%;
            .formSlide{
                width: 100%;
                max-height: 577px;
                #absolute{
                    min-height: auto;
                }
            }
            .requestForm{
                width: 100%;
            }
        }
}
@media screen and(max-width: 350px){
    #canvas{
        .searchForm{
            .search{
                h4{
                    font-size: 20px;
                }
            }
        }
    }
    .back{
        .requestForm{
            .greskaTekst{
                font-size: 14px;
                i{
                    font-size: 18px;
                    padding-top: 5px;
                }
            }
        }
    }
}